<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surat Balasan</title>
    <link href="/src/output.css" rel="stylesheet">
    <link href="/src/sidebar.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar Section Start -->
    <div class="sidebar fixed top-0 bottom-0 lg:left-0
    p-2 w-[280px] overflow-y-auto text-center bg-customeLBlue shadow h-screen">
        <div class="text-gray-100 text-xl">
            <div class="p-2.5 mt-1 flex items-center rounded-md ">
                <img src="/img/logo_unand.png" alt="Logo Unand" class="h-16 px-2 py-1 rounded-md">
                <h1 class="text-[20px]  ml-3 text-xl text-customBlue font-bold text-start">Pendaftaran Kerja Praktek
                </h1>
            </div>
            <div class="p-2.5 ms-2 mt-2 flex items-center rounded-md px-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none">
                    <path
                        d="M19.3334 12.0833C19.3334 13.3652 18.8242 14.5946 17.9178 15.501C17.0113 16.4074 15.782 16.9167 14.5001 16.9167C13.2182 16.9167 11.9888 16.4074 11.0824 15.501C10.176 14.5946 9.66675 13.3652 9.66675 12.0833C9.66675 10.8015 10.176 9.57208 11.0824 8.66565C11.9888 7.75922 13.2182 7.25 14.5001 7.25C15.782 7.25 17.0113 7.75922 17.9178 8.66565C18.8242 9.57208 19.3334 10.8015 19.3334 12.0833Z"
                        fill="#365DA8" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M14.007 26.5737C7.56237 26.3151 2.41669 21.0081 2.41669 14.5C2.41669 7.82637 7.8264 2.41666 14.5 2.41666C21.1736 2.41666 26.5834 7.82637 26.5834 14.5C26.5834 21.1736 21.1736 26.5833 14.5 26.5833C14.4448 26.5837 14.3897 26.5837 14.3345 26.5833C14.2251 26.5833 14.1158 26.5797 14.007 26.5737ZM6.74615 22.1246C6.6558 21.8651 6.62505 21.5887 6.65617 21.3157C6.6873 21.0427 6.7795 20.7803 6.92593 20.5479C7.07237 20.3154 7.26927 20.1189 7.50203 19.973C7.73479 19.8271 7.99743 19.7354 8.27046 19.7049C12.9805 19.1835 16.0485 19.2306 20.7356 19.7158C21.009 19.7442 21.2723 19.8347 21.5054 19.9803C21.7386 20.1259 21.9354 20.3228 22.0809 20.556C22.2265 20.7892 22.3169 21.0525 22.3453 21.3259C22.3737 21.5993 22.3393 21.8755 22.2448 22.1336C24.2536 20.1012 25.3786 17.3577 25.375 14.5C25.375 8.49397 20.506 3.62499 14.5 3.62499C8.494 3.62499 3.62502 8.49397 3.62502 14.5C3.62502 17.4701 4.81583 20.1622 6.74615 22.1246Z"
                        fill="#365DA8" />
                </svg>
                <div class="flex flex-col items-start">
                    <span class="text-[15px] ms-4 text-customBlue">Nindy</span>
                    <span class="text-[15px] ms-4 text-customBlue">Sekretaris Jurusan</span>
                </div>
            </div>
            <hr class="my-2 border-customBTransparant ms-4 me-4">
            <div class="p-2.5 mt-2 flex items-center rounded-md px-4 cursor-pointer hover:bg-customBTransparant">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"
                    class="icon-bg p-2 ms-2">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M3.73331 1.33337H3.66665C3.36131 1.33337 3.09865 1.33337 2.86665 1.38804C2.50749 1.47386 2.17911 1.65744 1.91789 1.91843C1.65666 2.17942 1.47279 2.50763 1.38665 2.86671C1.33331 3.09871 1.33331 3.36004 1.33331 3.66671V7.00004C1.33331 7.30537 1.33331 7.56804 1.38798 7.80004C1.4738 8.15919 1.65737 8.48757 1.91837 8.7488C2.17936 9.01003 2.50757 9.1939 2.86665 9.28004C3.09865 9.33337 3.35998 9.33337 3.66665 9.33337H6.99998C7.30531 9.33337 7.56798 9.33337 7.79998 9.27871C8.15913 9.19289 8.48751 9.00931 8.74874 8.74832C9.00996 8.48733 9.19384 8.15912 9.27998 7.80004C9.33331 7.56804 9.33331 7.30671 9.33331 7.00004V3.66671C9.33331 3.36137 9.33331 3.09871 9.27865 2.86671C9.19283 2.50756 9.00925 2.17917 8.74826 1.91795C8.48727 1.65672 8.15905 1.47285 7.79998 1.38671C7.56798 1.33337 7.30665 1.33337 6.99998 1.33337H6.93331H3.73331ZM3.17731 2.68537C3.23465 2.67204 3.32398 2.66671 3.73331 2.66671H6.93331C7.34398 2.66671 7.43198 2.67071 7.48931 2.68537C7.60909 2.71402 7.71859 2.77527 7.80567 2.86235C7.89275 2.94943 7.954 3.05893 7.98265 3.17871C7.99598 3.23471 7.99998 3.32271 7.99998 3.73337V6.93337C7.99998 7.34404 7.99598 7.43204 7.98131 7.48937C7.95267 7.60915 7.89141 7.71865 7.80433 7.80573C7.71725 7.89281 7.60775 7.95407 7.48798 7.98271C7.43331 7.99471 7.34531 8.00004 6.93331 8.00004H3.73331C3.32265 8.00004 3.23465 7.99604 3.17731 7.98137C3.05754 7.95273 2.94804 7.89147 2.86096 7.80439C2.77388 7.71731 2.71262 7.60781 2.68398 7.48804C2.67198 7.43337 2.66665 7.34537 2.66665 6.93337V3.73337C2.66665 3.32271 2.67065 3.23471 2.68531 3.17737C2.71395 3.0576 2.77521 2.9481 2.86229 2.86102C2.94937 2.77394 3.05887 2.71268 3.17865 2.68404M13.0666 1.33337H13C12.6946 1.33337 12.432 1.33337 12.2 1.38804C11.8408 1.47386 11.5124 1.65744 11.2512 1.91843C10.99 2.17942 10.8061 2.50763 10.72 2.86671C10.6666 3.09871 10.6666 3.36004 10.6666 3.66671V7.00004C10.6666 7.30537 10.6666 7.56804 10.7213 7.80004C10.8071 8.15919 10.9907 8.48757 11.2517 8.7488C11.5127 9.01003 11.8409 9.1939 12.2 9.28004C12.432 9.33337 12.6933 9.33337 13 9.33337H16.3333C16.6386 9.33337 16.9013 9.33337 17.1333 9.27871C17.4925 9.19289 17.8208 9.00931 18.0821 8.74832C18.3433 8.48733 18.5272 8.15912 18.6133 7.80004C18.6666 7.56804 18.6666 7.30671 18.6666 7.00004V3.66671C18.6666 3.36137 18.6666 3.09871 18.612 2.86671C18.5262 2.50756 18.3426 2.17917 18.0816 1.91795C17.8206 1.65672 17.4924 1.47285 17.1333 1.38671C16.9013 1.33337 16.64 1.33337 16.3333 1.33337H16.2666H13.0666ZM12.5106 2.68537C12.568 2.67204 12.6573 2.66671 13.0666 2.66671H16.2666C16.6773 2.66671 16.7653 2.67071 16.8226 2.68537C16.9424 2.71402 17.0519 2.77527 17.139 2.86235C17.2261 2.94943 17.2873 3.05893 17.316 3.17871C17.3293 3.23471 17.3333 3.32271 17.3333 3.73337V6.93337C17.3333 7.34404 17.328 7.43204 17.3146 7.48937C17.286 7.60915 17.2247 7.71865 17.1377 7.80573C17.0506 7.89281 16.9411 7.95407 16.8213 7.98271C16.7653 7.99604 16.6773 8.00004 16.2666 8.00004H13.0666C12.656 8.00004 12.568 7.99604 12.5106 7.98137C12.3909 7.95273 12.2814 7.89147 12.1943 7.80439C12.1072 7.71731 12.046 7.60781 12.0173 7.48804C12.0053 7.43337 12 7.34537 12 6.93337V3.73337C12 3.32271 12.004 3.23471 12.0186 3.17737C12.0473 3.0576 12.1085 2.9481 12.1956 2.86102C12.2827 2.77394 12.3922 2.71268 12.512 2.68404M3.66665 10.6667H6.99998C7.30531 10.6667 7.56798 10.6667 7.79998 10.7214C8.15913 10.8072 8.48751 10.9908 8.74874 11.2518C9.00996 11.5128 9.19384 11.841 9.27998 12.2C9.33331 12.432 9.33331 12.6934 9.33331 13V16.3334C9.33331 16.6387 9.33331 16.9014 9.27865 17.1334C9.19283 17.4925 9.00925 17.8209 8.74826 18.0821C8.48727 18.3434 8.15905 18.5272 7.79998 18.6134C7.56798 18.6667 7.30665 18.6667 6.99998 18.6667H3.66665C3.36131 18.6667 3.09865 18.6667 2.86665 18.612C2.50749 18.5262 2.17911 18.3426 1.91789 18.0817C1.65666 17.8207 1.47279 17.4924 1.38665 17.1334C1.33331 16.9014 1.33331 16.64 1.33331 16.3334V13C1.33331 12.6947 1.33331 12.432 1.38798 12.2C1.4738 11.8409 1.65737 11.5125 1.91837 11.2513C2.17936 10.9901 2.50757 10.8062 2.86665 10.72C3.09865 10.6667 3.35998 10.6667 3.66665 10.6667ZM3.73331 12C3.32265 12 3.23465 12.004 3.17731 12.0187C3.05754 12.0473 2.94804 12.1086 2.86096 12.1957C2.77388 12.2828 2.71262 12.3923 2.68398 12.512C2.67198 12.5667 2.66665 12.6547 2.66665 13.0667V16.2667C2.66665 16.6774 2.67065 16.7654 2.68531 16.8227C2.71395 16.9425 2.77521 17.052 2.86229 17.1391C2.94937 17.2261 3.05887 17.2874 3.17865 17.316C3.23465 17.3294 3.32265 17.3334 3.73331 17.3334H6.93331C7.34398 17.3334 7.43198 17.328 7.48931 17.3147C7.60909 17.2861 7.71859 17.2248 7.80567 17.1377C7.89275 17.0506 7.954 16.9411 7.98265 16.8214C7.99598 16.7654 7.99998 16.6774 7.99998 16.2667V13.0667C7.99998 12.656 7.99598 12.568 7.98131 12.5107C7.95267 12.3909 7.89141 12.2814 7.80433 12.1944C7.71725 12.1073 7.60775 12.046 7.48798 12.0174C7.43331 12.0054 7.34531 12 6.93331 12H3.73331ZM13.0666 10.6667H13C12.6946 10.6667 12.432 10.6667 12.2 10.7214C11.8408 10.8072 11.5124 10.9908 11.2512 11.2518C10.99 11.5128 10.8061 11.841 10.72 12.2C10.6666 12.432 10.6666 12.6934 10.6666 13V16.3334C10.6666 16.6387 10.6666 16.9014 10.7213 17.1334C10.8071 17.4925 10.9907 17.8209 11.2517 18.0821C11.5127 18.3434 11.8409 18.5272 12.2 18.6134C12.432 18.668 12.6946 18.668 13 18.668H16.3333C16.6386 18.668 16.9013 18.668 17.1333 18.6134C17.4922 18.5273 17.8203 18.3437 18.0813 18.0827C18.3423 17.8217 18.5259 17.4936 18.612 17.1347C18.6666 16.9027 18.6666 16.64 18.6666 16.3347V13C18.6666 12.6947 18.6666 12.432 18.612 12.2C18.5262 11.8409 18.3426 11.5125 18.0816 11.2513C17.8206 10.9901 17.4924 10.8062 17.1333 10.72C16.9013 10.6667 16.64 10.6667 16.3333 10.6667H16.2666H13.0666ZM12.5106 12.0187C12.568 12.0054 12.6573 12 13.0666 12H16.2666C16.6773 12 16.7653 12.004 16.8226 12.0187C16.9424 12.0473 17.0519 12.1086 17.139 12.1957C17.2261 12.2828 17.2873 12.3923 17.316 12.512C17.3293 12.568 17.3333 12.656 17.3333 13.0667V16.2667C17.3333 16.6774 17.328 16.7654 17.3146 16.8227C17.286 16.9425 17.2247 17.052 17.1377 17.1391C17.0506 17.2261 16.9411 17.2874 16.8213 17.316C16.7653 17.3294 16.6773 17.3334 16.2666 17.3334H13.0666C12.656 17.3334 12.568 17.328 12.5106 17.3147C12.3909 17.2861 12.2814 17.2248 12.1943 17.1377C12.1072 17.0506 12.046 16.9411 12.0173 16.8214C12.0053 16.7667 12 16.6787 12 16.2667V13.0667C12 12.656 12.004 12.568 12.0186 12.5107C12.0473 12.3909 12.1085 12.2814 12.1956 12.1944C12.2827 12.1073 12.3922 12.046 12.512 12.0174"
                        fill="#365DA8" />
                </svg>
                <span class="text-[15px] ml-4 text-customBlue">Dashboard</span>
            </div>
            <hr class="my-2 border-customBTransparant ms-4 me-4">
            <div>
                <div class="p-2.5 ms-2 mt-2 flex items-center rounded-md px-4">
                    <span class="text-[15px] text-customBTransparant">Alur Pendaftaran</span>
                </div>
                <div class="p-2.5 flex items-center rounded-md px-4 cursor-pointer  hover:bg-customBTransparant">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none"
                        class="icon-bg p-2 ms-2">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M1.172 1.172C-1.19209e-07 2.343 0 4.229 0 8V12C0 15.771 -1.19209e-07 17.657 1.172 18.828C2.343 20 4.229 20 8 20H10C13.771 20 15.657 20 16.828 18.828C18 17.657 18 15.771 18 12V8C18 4.229 18 2.343 16.828 1.172C15.657 -1.19209e-07 13.771 0 10 0H8C4.229 0 2.343 -1.19209e-07 1.172 1.172ZM5 7.25C4.80109 7.25 4.61032 7.32902 4.46967 7.46967C4.32902 7.61032 4.25 7.80109 4.25 8C4.25 8.19891 4.32902 8.38968 4.46967 8.53033C4.61032 8.67098 4.80109 8.75 5 8.75H13C13.1989 8.75 13.3897 8.67098 13.5303 8.53033C13.671 8.38968 13.75 8.19891 13.75 8C13.75 7.80109 13.671 7.61032 13.5303 7.46967C13.3897 7.32902 13.1989 7.25 13 7.25H5ZM5 11.25C4.80109 11.25 4.61032 11.329 4.46967 11.4697C4.32902 11.6103 4.25 11.8011 4.25 12C4.25 12.1989 4.32902 12.3897 4.46967 12.5303C4.61032 12.671 4.80109 12.75 5 12.75H10C10.1989 12.75 10.3897 12.671 10.5303 12.5303C10.671 12.3897 10.75 12.1989 10.75 12C10.75 11.8011 10.671 11.6103 10.5303 11.4697C10.3897 11.329 10.1989 11.25 10 11.25H5Z"
                            fill="#365DA8" />
                    </svg>
                    <a class="text-[15px] ml-4 text-customBlue">Proposal</a>
                </div>
                <div class="ms-6 rounded-md px-4 marginTop">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2" height="18" viewBox="0 0 2 18" fill="none">
                        <path
                            d="M1.28267 4.78977H0.447444V0.553977H1.28267V4.78977ZM1.28267 11.1335H0.447444V6.89773H1.28267V11.1335ZM1.28267 17.4773H0.447444L0.447444 13.2415H1.28267L1.28267 17.4773Z"
                            fill="#365DA8" />
                    </svg>
                </div>
                <div class="p-2.5 flex items-center rounded-md px-4 cursor-pointer  hover:bg-customBTransparant">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none"
                        class="icon-bg p-2 ms-2">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M1.172 1.172C-1.19209e-07 2.343 0 4.229 0 8V12C0 15.771 -1.19209e-07 17.657 1.172 18.828C2.343 20 4.229 20 8 20H10C13.771 20 15.657 20 16.828 18.828C18 17.657 18 15.771 18 12V8C18 4.229 18 2.343 16.828 1.172C15.657 -1.19209e-07 13.771 0 10 0H8C4.229 0 2.343 -1.19209e-07 1.172 1.172ZM5 7.25C4.80109 7.25 4.61032 7.32902 4.46967 7.46967C4.32902 7.61032 4.25 7.80109 4.25 8C4.25 8.19891 4.32902 8.38968 4.46967 8.53033C4.61032 8.67098 4.80109 8.75 5 8.75H13C13.1989 8.75 13.3897 8.67098 13.5303 8.53033C13.671 8.38968 13.75 8.19891 13.75 8C13.75 7.80109 13.671 7.61032 13.5303 7.46967C13.3897 7.32902 13.1989 7.25 13 7.25H5ZM5 11.25C4.80109 11.25 4.61032 11.329 4.46967 11.4697C4.32902 11.6103 4.25 11.8011 4.25 12C4.25 12.1989 4.32902 12.3897 4.46967 12.5303C4.61032 12.671 4.80109 12.75 5 12.75H10C10.1989 12.75 10.3897 12.671 10.5303 12.5303C10.671 12.3897 10.75 12.1989 10.75 12C10.75 11.8011 10.671 11.6103 10.5303 11.4697C10.3897 11.329 10.1989 11.25 10 11.25H5Z"
                            fill="#365DA8" />
                    </svg>
                    <span class="text-[15px] ml-4 text-customBlue">Surat Pengantar</span>
                </div>
                <div class="ms-6 rounded-md px-4 marginTop">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2" height="18" viewBox="0 0 2 18" fill="none">
                        <path
                            d="M1.28267 4.78977H0.447444V0.553977H1.28267V4.78977ZM1.28267 11.1335H0.447444V6.89773H1.28267V11.1335ZM1.28267 17.4773H0.447444L0.447444 13.2415H1.28267L1.28267 17.4773Z"
                            fill="#365DA8" />
                    </svg>
                </div>
                <div class="p-2.5 flex items-center rounded-md px-4 cursor-pointer  hover:bg-customBTransparant">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none"
                        class="icon-bg p-2 ms-2">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M1.172 1.172C-1.19209e-07 2.343 0 4.229 0 8V12C0 15.771 -1.19209e-07 17.657 1.172 18.828C2.343 20 4.229 20 8 20H10C13.771 20 15.657 20 16.828 18.828C18 17.657 18 15.771 18 12V8C18 4.229 18 2.343 16.828 1.172C15.657 -1.19209e-07 13.771 0 10 0H8C4.229 0 2.343 -1.19209e-07 1.172 1.172ZM5 7.25C4.80109 7.25 4.61032 7.32902 4.46967 7.46967C4.32902 7.61032 4.25 7.80109 4.25 8C4.25 8.19891 4.32902 8.38968 4.46967 8.53033C4.61032 8.67098 4.80109 8.75 5 8.75H13C13.1989 8.75 13.3897 8.67098 13.5303 8.53033C13.671 8.38968 13.75 8.19891 13.75 8C13.75 7.80109 13.671 7.61032 13.5303 7.46967C13.3897 7.32902 13.1989 7.25 13 7.25H5ZM5 11.25C4.80109 11.25 4.61032 11.329 4.46967 11.4697C4.32902 11.6103 4.25 11.8011 4.25 12C4.25 12.1989 4.32902 12.3897 4.46967 12.5303C4.61032 12.671 4.80109 12.75 5 12.75H10C10.1989 12.75 10.3897 12.671 10.5303 12.5303C10.671 12.3897 10.75 12.1989 10.75 12C10.75 11.8011 10.671 11.6103 10.5303 11.4697C10.3897 11.329 10.1989 11.25 10 11.25H5Z"
                            fill="#365DA8" />
                    </svg>
                    <a href="/suratBalasanView" class="text-[15px] ml-4 text-customBlue font-bold">Surat Balasan</a>
                </div>
                <div class="ms-6 rounded-md px-4 marginTop">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2" height="18" viewBox="0 0 2 18" fill="none">
                        <path
                            d="M1.28267 4.78977H0.447444V0.553977H1.28267V4.78977ZM1.28267 11.1335H0.447444V6.89773H1.28267V11.1335ZM1.28267 17.4773H0.447444L0.447444 13.2415H1.28267L1.28267 17.4773Z"
                            fill="#365DA8" />
                    </svg>
                </div>
                <div class="p-2.5 flex items-center rounded-md px-4 cursor-pointer  hover:bg-customBTransparant">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none"
                        class="icon-bg p-2 ms-2">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M1.172 1.172C-1.19209e-07 2.343 0 4.229 0 8V12C0 15.771 -1.19209e-07 17.657 1.172 18.828C2.343 20 4.229 20 8 20H10C13.771 20 15.657 20 16.828 18.828C18 17.657 18 15.771 18 12V8C18 4.229 18 2.343 16.828 1.172C15.657 -1.19209e-07 13.771 0 10 0H8C4.229 0 2.343 -1.19209e-07 1.172 1.172ZM5 7.25C4.80109 7.25 4.61032 7.32902 4.46967 7.46967C4.32902 7.61032 4.25 7.80109 4.25 8C4.25 8.19891 4.32902 8.38968 4.46967 8.53033C4.61032 8.67098 4.80109 8.75 5 8.75H13C13.1989 8.75 13.3897 8.67098 13.5303 8.53033C13.671 8.38968 13.75 8.19891 13.75 8C13.75 7.80109 13.671 7.61032 13.5303 7.46967C13.3897 7.32902 13.1989 7.25 13 7.25H5ZM5 11.25C4.80109 11.25 4.61032 11.329 4.46967 11.4697C4.32902 11.6103 4.25 11.8011 4.25 12C4.25 12.1989 4.32902 12.3897 4.46967 12.5303C4.61032 12.671 4.80109 12.75 5 12.75H10C10.1989 12.75 10.3897 12.671 10.5303 12.5303C10.671 12.3897 10.75 12.1989 10.75 12C10.75 11.8011 10.671 11.6103 10.5303 11.4697C10.3897 11.329 10.1989 11.25 10 11.25H5Z"
                            fill="#365DA8" />
                    </svg>
                    <span class="text-[15px] ml-4 text-customBlue">Surat Tugas</span>
                </div>
                <hr class="my-2 border-customBTransparant ms-4 me-4">
                <div class="p-2.5 mt-2 flex items-center rounded-md px-4 cursor-pointer  hover:bg-customBTransparant">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        class="icon-bg p-1 ms-2">
                        <g clip-path="url(#clip0_118_367)">
                            <g clip-path="url(#clip1_118_367)">
                                <path
                                    d="M13.5 2.91667C8.21002 2.91667 3.91669 7.21 3.91669 12.5C3.91669 17.79 8.21002 22.0833 13.5 22.0833C18.79 22.0833 23.0834 17.79 23.0834 12.5C23.0834 7.21 18.79 2.91667 13.5 2.91667ZM13.5 6.75C15.3496 6.75 16.8542 8.25458 16.8542 10.1042C16.8542 11.9537 15.3496 13.4583 13.5 13.4583C11.6504 13.4583 10.1459 11.9537 10.1459 10.1042C10.1459 8.25458 11.6504 6.75 13.5 6.75ZM13.5 20.1667C11.5546 20.1667 9.2546 19.3808 7.61585 17.4067C9.23544 16.1417 11.2767 15.375 13.5 15.375C15.7234 15.375 17.7646 16.1417 19.3842 17.4067C17.7454 19.3808 15.4454 20.1667 13.5 20.1667Z"
                                    fill="#365DA8" />
                            </g>
                        </g>
                        <defs>
                            <clipPath id="clip0_118_367">
                                <rect width="24" height="24" fill="white" />
                            </clipPath>
                            <clipPath id="clip1_118_367">
                                <rect width="23" height="23" fill="white" transform="translate(2 1)" />
                            </clipPath>
                        </defs>
                    </svg>
                    <span class="text-[15px] ml-4 text-customBlue">Data Mahasiswa</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar Section End -->

    <!-- Main Section Start -->
    <div class="sideKanan p-1 me-24">
        <h2 class="text-customBlue text-[28px] font-bold">Surat Balasan Perusahaan</h2>
        <div class="overflow-x-auto">
            <table class="mt-7 border-separate border-spacing-2 border border-slate-400 tableBorder w-full">
                <thead>
                    <tr class="bg-customeLGrey">
                        <th class="border border-slate-300 p-5 font-medium">No</th>
                        <th class="border border-slate-300 p-5 font-medium">Kelompok</th>
                        <th class="border border-slate-300 p-5 font-medium">Tanggal Pengajuan</th>
                        <th class="border border-slate-300 p-5 font-medium">Perusahaan Tujuan</th>
                        <th class="border border-slate-300 p-5 font-medium">Status</th>
                        <th class="border border-slate-300 p-5 font-medium">Aksi</th>
                    </tr>
                </thead>
                <tbody id="suratBalasan">
                    <tr>
                        <td colspan="6" class="text-center">Belum ada Surat Balasan</td>
                    </tr>
                    <!-- <tr class="text-center">
                        <td class="border border-slate-300 p-5">1</td>
                        <td class="border border-slate-300 p-5">10</td>
                        <td class="border border-slate-300 p-5">10/03/2024</td>
                        <td class="border border-slate-300 p-5">Proposal KP LLDIKTI</td>
                        <td class="border border-slate-300 p-5">LLDIKTI X</td>
                        <td class="border border-slate-300 p-5 bg-customBlue text-white"><a
                                href="displayFile.html">Lihat Dokumen</a></td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
    <!-- Main Section End -->

    <script>
        document.addEventListener('DOMContentLoaded', async () => {
            const suratBalasanTable = document.getElementById('suratBalasan');

            const token = localStorage.getItem('token');
            const myHeaders = new Headers();
            myHeaders.append('Authorization', `Bearer ${token}`);

            try {
                const token = localStorage.getItem('token');
                const response = await fetch('/dataSuratBalasan', {
                    method: 'GET',
                    headers: myHeaders
                });

                const result = await response.json();
                if (!result.success) {
                    throw new Error(result.message);
                }

                const data = result.data;
                if (data.length === 0) {
                    suratBalasanTable.innerHTML = `
                        <tr>
                            <td colspan="6" class="text-center">Belum ada Surat Balasan</td>
                        </tr>
                    `;
                } else {
                    const rows = data.map((item, index) => `
                        <tr class="text-center">
                            <td class="border border-gray-300 p-5">${index + 1}</td>
                            <td class="border border-gray-300 p-5">${item.dataKelompokPengajuan.id_kelompok}</td>
                            <td class="border border-gray-300 p-5">${item.dataPengajuanBalasan.tanggal_pengajuan}</td>
                            <td class="border border-gray-300 p-5">${item.dataPengajuanBalasan.perusahaan_tujuan}</td>
                            <td class="border border-gray-300 p-5">${item.dataPengajuanBalasan.status}</td>
                            <td class="border border-slate-300 p-5 bg-customBlue text-white"><a
                                href="/fileView?id=${item.dataPengajuanBalasan.id_suratBalasan}">Lihat Dokumen</a></td>
                        </tr>
                    `).join('');

                    suratBalasanTable.innerHTML = rows;
                }
            } catch (error) {
                console.error('Error:', error.message);
                suratBalasanTable.innerHTML = `
                    <tr>
                        <td colspan="6" class="text-center text-red-500">Gagal memuat data Surat Balasan</td>
                    </tr>
                `;
            }
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>